/** Aplicando Medias Querys - es decir para que todo el proyecto se pueda ver en pc o tables**/

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
}



/*! estilos de planes!*/
.plans-container--slider {
    justify-content: center;
}

.plans-container--card {
    margin: 10px 20px;
}

.plans-container--card1 {
    margin: 10px 20px;
}

.plans-container--card2 {
    margin: 10px 20px;
}