/** 1. Posicionamiento **/
/** 2. Modelo de Caja **/
/** 3. Tipografia* */
/** 4. Visuales **/
/** 5. Otros **/

:root {
    --Bitcoin-Orange:#F7931A ;
    --Soft-Orange: #FFE9D5;
    --Secondary-Blue:#1A9AF7;
    --Soft-Blue: #E7F5FF;
    --Warm-Black: #201E1C;
    --Warm-Black1: #282623;
    --Grey: #BABABA;
    --Off-White: #FAF8F7;
    --Just-White: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}