:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-ligh-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --main-solid-blue: #00EDFA;
    --main-solid-purpure: #3426BC;
    --secundary-blue-1: #5FCADF;
    --secundary-blue-2: #1992DD;
    --secundary-blue-3: #2A70B9;
    --secundary-blue-4: #2667D0;
    --secundary-blue-5: #1F7ED7;
    --secundary-blue-6: #1A6FD3;
    --secundary-purpure-1: #2D4EC9;
    --secundary-purpure-2: #42459C;
    --secundary-black-1: #000000;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #5867dd;
    --secondary: #e1e1ef;
    --success: #0abb87;
    --info: #5578eb;
    --warning: #ffb822;
    --danger: #fd397a;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark-1: #4a4a4a;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1399px;
    --sm-1: 14px;
    --sm-2: 12px;
    /* Con estas en font-size podemos utilizarlos para los tamanos sm= small md = mediano = grande*/
    --md: 16px;
    --lg: 18px;
    --width-collapsed: 50px;
    --hovercolor: rgb(23, 23, 23);
    --bgcolor: rgb(52, 52, 52);
    --padding: 10px;
    --width: 300px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary);
    margin-left: var(--width-collapsed);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/** Styles of Login **/

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* Con este y el de arriba centramos todo el text*/
    width: 300px;

}

.logo {
    width: 150px;
    margin-bottom: 48px;
    /*con este separamos del titulo*/
    justify-self: center;
    /* con este centramos*/
    /* Con esta opcion no aparece en escritorio si no an app*/
    /*display: none; Con esto se activa el Media*/
}

.form {
    display: flex;
    /* Cuando ponemos esto se nos ubica uno al lado del otro*/
    flex-direction: column;
    /* Con este le cambiamos la direccion al anterior*/
    flex-wrap: wrap;
}

.form a {
    color: var(--secundary-black-1);
    /* con esto cambiamos el color de la etiqueta a*/
    font-size: var(--sm-2);
    /*Tamano de la letra*/
    text-decoration: none;
    /* Con esto quita la linea de abajo del texto, como cuando hacemo sun subrayado de texto en word*/
    text-align: center;
    /*Con esto alineamos el texto*/
    margin-bottom: 52px;
    /*Con esto separamos este texto del boton de abajo*/

}

.label {
    font-size: var(--sm-1);
    font-weight: bold;
    /*Pone la letra en negrilla*/
    margin-bottom: 4px;
}

.input {
    background-color: var(--text-input-field);
    border: 1px solid var(--secundary-black-1);
    /* con este quitamos el borde negrito*/
    border-radius: 8px;
    /* con este ponemos el borde que tiene con las esquinas ovaladas*/
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    /* Esto es para que no quede pegado el password*/
    margin-bottom: 1.6rem;
    /* Con este damos espacio al input con el texto*/
}

.input-email {
    margin-bottom: 22px;
}

.primary-button {
    background-color: var(--secundary-blue-6);
    /*color del boton*/
    border-radius: 20px;
    /* los bordes quedan ovalados*/
    border: none;
    /* con este eliminamos los bordes negros por defecto*/
    color: var(--white);
    /* con este le ponemos el color al texto o lo que este adentro del boton*/
    width: 100%;
    /*ancho completo*/
    height: 40px;
    /*alto*/
    cursor: pointer;
    /*con esto al pasar el mouse sale una manito y no la flecha del mouse*/
    font-size: var(--md);
    /* Con esto el boton crece, es decir un poco mas grande*/
    font-weight: bold;
    /* letra negrilla*/
    margin-bottom: 20px;

}

.secondary-button {
    background-color: var(--white);
    /*color del boton*/
    border-radius: 20px;
    /* los bordes quedan ovalados*/
    border: 1px solid var(--secundary-blue-6);
    /* con este eliminamos los bordes negros por defecto*/
    color: var(--secundary-blue-6);
    /* con este le ponemos el color al texto o lo que este adentro del boton*/
    width: 100%;
    /*ancho completo*/
    height: 40px;
    /*alto*/
    cursor: pointer;
    /*con esto al pasar el mouse sale una manito y no la flecha del mouse*/
    font-size: var(--md);
    /* Con esto el boton crece, es decir un poco mas grande*/
    font-weight: bold;
    /* letra negrilla*/
    margin-top: 50px;
}

.login-button {
    margin-top: 14px;
    /* Con estas margenes separamos el boton de los inputs, lo mejor es que podemos incluir varias clases a algo*/
    margin-bottom: 30px;
}


/** Styles Create New Password**/

.title {
    font-size: var(--lg);
    /*tamaño*/
    margin-bottom: 12px;
    /*separacion con subtitulo*/
    text-align: center;
    /*posicion*/
}

.subtitle {
    color: var(--black);
    font-size: var(--sm-1);
    font-weight: 300;
    /*Estos 300 se trajeron de google,en los tipos de letras*/
    margin-top: 0;
    /*Esto es para que no se crucen los parrafos*/
    margin-bottom: 32px;
    /* Esto es para que se separe de los input y label*/
    text-align: center;
    /* Esto Centra el texto*/
}


@media (max-width: 640px) {
    .logo {
        display: block;
        /* Con este codigo incluimos el logo para que se vea solo en celulares*/
    }
}


/** Styles Home**/

.body-expanded {
    margin-left: var(--width);
}

#main-container {
    color: var(--secundary-black-1);
    background-color: var(--white);
}

#sidemenu {
    background-color: var(--secundary-blue-6);
    color: var(--light);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

#sidemenu a {
    color: var(--light);
    text-decoration: none;
}


/*! HEADER!*/

#sidemenu #header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title2 {
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title2,
#sidemenu #header #menu-btn {
    vertical-align: middle;
}

#sidemenu #header #menu-btn {
    display: inline-block;
}

#sidemenu #header #menu-btn {
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburger {
    background-color: var(--white);
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

#sidemenu #profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding);
    text-align: center;
}

#sidemenu #profile #photo {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#sidemenu #profile #photo img {
    width: 40%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
    font-size: 24px;
    padding: var(--padding);
    overflow: hidden;
}


/*! ITEM !*/

#sidemenu #menu-item {
    overflow: hidden;
}

#sidemenu #menu-item .item {
    width: var(--width);
    margin: 5px 0 0 0;
}

#sidemenu #menu-item .item .icon {
    display: inline-block;
}

#sidemenu #menu-item .item .icon,
#sidemenu #menu-item .item .title3 {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-item .item a {
    display: block;
}

#sidemenu #menu-item .item a:hover {
    border-radius: 8px;
    border: solid 2px var(--white);
}

#sidemenu #menu-item .item .icon {
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-item .item .icon img {
    width: 100%;
}

#sidemenu #menu-item .item .title3 {
    padding: var(--padding) 0;
}

#sidemenu #menu-item .item.separator {
    height: 1px;
    width: 100%;
    border-bottom: solid 1px var(--black);
    margin: 5px 0;
}

.menu-expanded {
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title2 {
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title2 span {
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
}

.menu-expanded #profile #photo {
    width: 200px;
}

.menu-expanded #profile #name {
    width: 100%;
}


.menu-collapsed {
    width: var(--width-collapsed);
}

.menu-collapsed #header #title2 {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name {
    display: none;
}

.menu-collapsed .item {
    width: 100px;
}

/**https://www.youtube.com/watch?v=sRaVhp96jxM**/